@charset "utf-8";

/* button */
.btn_area {display: -webkit-box; display: -ms-flexbox;  display: flex; flex-direction: row; width: calc(100% + 8px); margin: 20px -4px; text-align: center;}
.btn_area .btn {position: relative; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin: 0 4px}
.btn {display: inline-block; height: 40px; margin: 0; padding: 0 10px; border: 1px solid #666; border-radius: 20px; background-color: #fff; text-align: center; font-size: 15px; 
	color: #5a5a5a; line-height: 38px; font-weight: 700;}
.btn.btn_default {border: 1px solid #31aae6; background-color: #31aae6; color: #fff;}
.btn.btn_gray {border: 1px solid #666; background-color: #666; color: #fff;}
.btn.btn_line   {border: 1px solid #666; background-color: #fff; color: #5a5a5a;}

.btn.btn_small {height: 28px; padding: 0 8px; background-color: #fff; border: 1px solid #858585; border-radius: 14px; font-size: 1.3rem; color: #333; font-weight: 400; line-height: 2.6rem;}
.btn.btn_small:focus {border-color: #31aae6; color: #31aae6;}
.btn.btn_small:disabled,.btn.btn_small.disabled {border-color:#dddddd; background-color: #fff; color: #ddd; cursor: default;}
.btn.btn_default:disabled,.btn.btn_default.disabled,.btn.btn_white:disabled,.btn.btn_white.disabled {border-color: #dadada; background-color: #dadada; color: #666; cursor: default;}
.btn.btn_default:focus.disabled, .btn.btn_small:focus.disabled {outline: none;}
.btn.btn_txt {border: 0; font-size: 1.5rem; color: #111;}

.vLine {
    float:left;
    margin: 3px 5px 0;
    display: inline-block;
    width: 1px;
    height: 21px;
    border-left: 1px solid #ccc;
    vertical-align: top;
}

/* css icons */
.ico-arrow-left {
  color: #666;
  width: 8px;
   height:16px;
   margin:0;
  
}

.ico-arrow-left:before {
  content: '';
  position: absolute;
 
  top: 5px;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.ico-arrow-right {
  color: #666;  
  
   width: 8px;
   height:16px;
   margin:0;

 
}

.ico-arrow-right:before {
  content: '';
  position: absolute;  
  top: 5px;
    left:0;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}


