@charset "utf-8";

html,body {width: 100%; height: 100%; margin: 0; padding: 0;}
legend,caption, .blind {position: absolute; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; overflow: hidden; white-space: nowrap;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/* layout */
#wrap {display: table; width: 100%; height: 100%;}
.main_wrap {width: 100%; height: 100%; background-color: #efefef;}

/* header */

#go-skip a {
    position: absolute;
    left: 0;
    top: -45px;
    width: 100%;
    font-size: 0;
    line-height: 0;
    color: transparent;
    text-align: center;
    outline: none;
    z-index: 2147483647;
}

#go-skip a:active,
#go-skip a:focus {
    top: 0;
    left: 0;
    width: 100%;
    background: #ed1178;
    text-decoration: none;
    cursor: pointer;
    zoom: 1;
}

#go-skip span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 45px;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    height: 45px;
    z-index: 2222;
    width: 100%;
    background: #000;
}

#header h1 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 200px;
    height: 45px;
    text-align: center;
}


/* //header */




.page-title {
    margin: 20px 25px;
}

.page-title h1 {
    display: inline-block;
    font-size: 18px;
	font-size: 20px;
    color: #000;
}
.page-title p {}
.page-wrap {
	display: block;
	margin: 0;
    padding: 0 25px;
	width: 100%;
	height: calc(100% - 70px);
}


.btn-sidebar-toggle {
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -50px;
    border: 0;
    cursor: pointer;
    background: #ed1178;
    width: 20px;
    height: 100px;
    word-break: break-all;
    padding: 5px;
    color: #fff;
    font-family: 'arial';
    z-index: 2;
}

.btn-sidebar-toggle.close {
    margin-left: 0;
    background: #B1EFF7;
    color: #222
}


/* //left menu */

.table-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.table-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.titleBlock {
    margin: 0 0 3px 0;
    height: 27px;
}

.titleBlock:after {
    content: "";
    display: block;
    clear: both
}

.titleBlock .text {
    float: left;
}

.titleBlock .text h2 {
    font-size: 16px;
    display: inline-block;
}

.titleBlock .button {
    float: right;
    position: relative;
    /*ie7*/
    margin-right: -2px;
}

.info-box {
    /*참고*/
    /background-color: #f8f8f8;
    border: 1px solid #eee;
    border-left: 5px solid #ed1178;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.info-box > h4 {
    font-size: 16px;
}

.info-box > ol {
    margin-bottom: 10px;
}

.info-box > ol li {
    margin: 5px 0 0 18px;
}


/* hr style */

.hrbar {
    width:100%; 
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hrbar span {
    position: relative;
    padding: 0 20px;
    display:inline-block;

}

.hrbar span:before {
    right: 100%;
}

.hrbar span:after {
    left: 100%;
}

.hrbar span:before,
.hrbar span:after {
    position: absolute;
    top: 0.73em;
    content: '';
   width:10000%;
    border-top: 1px solid silver;
}


/* 레이어팝업 */

.layer-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.layer-mask .dimmed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.layer-mask .layer-popup {
    display: block;
}

.layer-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    background-color: #fff;
    border: 3px solid #ed1178;
    z-index: 10;
}

.layer-popup .pop-container {
    padding: 20px 25px;
}

.layer-popup p.ctxt {
    color: #666;
    line-height: 25px;
}

.layer-popup .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}