
/* 공통 SPRITE IMG */
.sp_common:before, .sp_common:after {content: ""; display: inline-block; -webkit-appearance:none; appearance:none; -webkit-background-color:transparent; background-color:transparent; background-image: url(../image/sp_common.png); background-repeat: no-repeat; background-size: 200px auto; vertical-align: middle;}


/* FORM */
input[type="text"],
input[type="search"],
input[type="date"],input[type="file"],
input[type="email"],input[type="tel"],
input[type="url"],input[type="number"],
input[type="password"] {height: 30px; padding: 5px 0; -webkit-appearance: none; -webkit-border-radius: 0; border: 1px solid #e2e2e2; border-radius: 0; background: #fff; font-size: 1.3rem; color: inherit; vertical-align: middle; line-height: 1;}
input:focus, select:focus {border-bottom: 2px solid #31aae6; color: #31aae6;}
input.error {border-bottom: 2px solid #ec4135; color: #ec4135;}/*에러표시*/

/* 자동완성 배경 없애기 */
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #111;} 
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}

textarea {width: 100%; padding: 11px 15px; -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; border: 1px solid #e2e2e2;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}
textarea:focus {border: 2px solid #31aae6; outline: none;}
textarea:-webkit-input-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
textarea::-webkit-input-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
textarea:-moz-placeholder{font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
textarea::-moz-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
textarea:-ms-input-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
textarea:placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
select {width: 100%; height: 55px; padding: 0 24px 0 0; border:0; border-bottom:1px solid #e2e2e2; border-radius: 0; -webkit-appearance: none; background-color: #fff; background-image:url(../image/ico_selectbox.png); background-repeat: no-repeat; background-position: right 18px; background-size: 22px auto; font-size: 1.6rem; font-weight: 700; direction: rtl; text-align: right; line-height: 5.4rem;}
option {direction: ltr;}
select::-ms-expand {display: none;}
:placeholder{font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}
::-webkit-input-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;} /* WebKit browsers */
:-moz-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {font-size: 1.6rem !important; font-weight: 700; color: #b8b8b8 !important;}/* Internet Explorer 10 + 11 */
::-ms-input-placeholder {font-size: 1.6rem; font-weight: 700; color: #b8b8b8;}/* Internet Explorer Edge */
select.t_left {direction: ltr; text-align: left;}

input[type="checkbox"] {position: relative; width: 21px; height: 21px; margin: -2px 8px 0 0; -webkit-appearance: none; border: 0; border-radius: 0; background-color: transparent; background-image: url(../image/sp_form.png); background-repeat: no-repeat; background-position: 0 -25px; background-size: 100px auto; vertical-align: middle;}
input[type="checkbox"]:checked {background-position: -25px -25px;}
input[type="checkbox"]:disabled {background-position: -50px -25px;}
input[type="checkbox"]:checked:disabled {background-position: -75px -25px;}

input[type="checkbox"]::-ms-check {position: relative; width: 21px; height: 21px; margin: -2px 8px 0 0; appearance: none; border: 0; border-radius: 0; background-color: transparent; background-repeat: no-repeat; background-position: -25px -25px; background-size: 100px auto; vertical-align: middle; color: transparent;}
input[type="checkbox"]:checked::-ms-check {background-position: -150px -25px;}
input[type="checkbox"]:disabled::-ms-check {background-position: 0 -25px;}
input[type="checkbox"].error::-ms-check {background-position: -50px -50px; border: 0;}

input[type="radio"] {position: relative; width: 21px; height: 21px; margin: -2px 8px 0 0; border: 0; -webkit-appearance: none; background-color: transparent; background-image: url(../image/sp_form.png); background-repeat: no-repeat; background-position: 0 0; background-size: 100px auto; vertical-align: middle;}
input[type="radio"]:checked {background-position: -25px 0;}
input[type="radio"]:disabled {background-position: -50px 0;}
input[type="radio"]:checked:disabled {background-position: -75px 0;}

input[type="radio"]::-ms-check {position: relative; width: 21px; height: 21px; margin: -2px 8px 0 0; border: 0; appearance: none; background-color: transparent; background-repeat: no-repeat; background-position: 0 0; background-size: 100px auto; vertical-align: middle; color: transparent;}
input[type="radio"]:checked::-ms-check  {background-position: -25px 0;}
input[type="radio"]:disabled::-ms-check {background-position: -50px 0;}
input[type="radio"]:checked:disabled::-ms-check {background-position: -75px 0;}

input[type="checkbox"]:disabled+label,input[type="radio"]:disabled+label {color: #b8b8b8;}
input[type="radio"]:focus,input[type="checkbox"]:focus {outline-width: 0; border: 0;}

/* 약관동의 체크박스 */
.ui_chk_agree input[type="checkbox"] {background-position: 0 -50px;}
.ui_chk_agree input[type="checkbox"]:checked {background-position: -25px -50px;}
.ui_chk_agree input[type="checkbox"]:disabled {background-position: -50px -50px;}
.ui_chk_agree input[type="checkbox"]:checked:disabled {background-position: -50px -50px;}
.ui_chk_agree input[type="checkbox"].error {background-position: -75px -50px;}
.chk_total input[type="checkbox"] {width: 22px; height: 22px; background-position: 0 -75px;}
.chk_total input[type="checkbox"]:checked {width: 22px; height: 22px; background-position: -25px -75px;}
.chk_total input[type="checkbox"]:disabled {width: 22px; height: 22px; background-position: -75px -75px;}
.chk_total input[type="checkbox"]:checked:disabled {width: 22px; height: 22px; background-position: -75px -75px;}

.ui_chk, .ui_rdo {font-size: 1.5rem;}
.disabled {color: #b8b8b8;}
.f_group {position: relative;}
.f_group input,
.f_group input [type="text"],
.f_group input[type="password"]{width: 100%; text-align: right; font-weight: 700;}
.f_group .txt {position: absolute; top: 0; z-index: 2; color: #717171; line-height: 5.5rem;}

/* 공통 - text */
.txt_error {position: relative; margin: 11px 0 10px; padding-left: 28px; font-size: 1.3rem; color: #ec4135;}
.txt_error .ic_error {position: absolute; left: 0; top: -1px;}
.ic_error:after {width: 21px; height: 21px; margin-right: 07px; margin-bottom: 1px; background-position: -25px 0;}

/* 공통 class */
.blind, legend, caption {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.t_center {text-align: center;}
.t_right {text-align: right;}
.t_left {text-align: left;}
.t_color01 {color: #525252;}
.t_color02 {color: #31aae6 !important;}
.t_color03 {color: #258dc1;}
.t_color04 {color: #717171 !important;}
.t_s_color04 {font-size: 1.2rem; color: #717171 !important;}
.t_normal {font-weight: 400;}
.w50p {width: 50%;}
.w100p {width: 100%;}

/* TAB */
.tab_nav {display: -webkit-box; display: -ms-flexbox;  display: flex; flex-direction: row;}
.tab_nav>li {position: relative; -webkit-flex: 1; -ms-flex: 1; flex: 1; height: 42px; border: 1px solid #dadada; border-left: 0; background-color: #f6f6f6; list-style-type: none;}
.tab_nav>li:first-child {border-left: 1px solid #dadada;}
.tab_nav>li.active {position: relative; border: 1px solid #31aae6; border-left: 0; border-right: 0; background-color: #fff;}
.tab_nav>li.active::before {position: absolute; content: ""; left: -1px; top: -1px; z-index: 2; height: 42px; border-left: 1px solid #31aae6;}
.tab_nav li.active::after  {position: absolute; content: ""; right: -1px; top: -1px; z-index: 2; height: 42px; border-right: 1px solid #31aae6;}
.tab_nav li.active:first-child::before {left: 0; top: 0;} 
.tab_nav li.active:last-child::after {right: 0; top: 0;} 
.tab_nav>li>a {display: block; height: 100%; padding: 10px 0; color: #5a5a5a; text-align: center;}
.tab_nav>li.active>a {color: #31aae6; font-weight: 700;}
.tab_nav>li>a:focus {outline-style: dotted; outline-color: #31aae6; outline-width:2px; outline-offset: -1px}
.tab_content {margin: 0;}
.box_tc {display: none; padding: 30px 18px;}
.box_tc.active {display: block;}

/* BUTTON */
.btn_area {display: -webkit-box; display: -ms-flexbox;  display: flex; flex-direction: row; width: calc(100% + 8px); margin: 20px -4px; text-align: center;}
.btn_area .btn_default {position: relative; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin: 0 4px}





.btn_default {display: inline-block; height: 40px; margin: 0; padding: 0 10px; border: 1px solid #666; border-radius: 20px; background-color: #fff; text-align: center; color: #5a5a5a; line-height: 3.8rem; font-weight: 700;}
.btn_default {min-width: 100px; border: 1px solid #31aae6; background-color: #31aae6; color: #fff; font-weight: 700;}
.btn_default.btn_white   {min-width: 100px; border: 1px solid #666; background-color: #fff; color: #5a5a5a; font-weight: 700;}

.btn.btn_small {height: 28px; padding: 0 8px; background-color: #fff; border: 1px solid #858585; border-radius: 14px; font-size: 1.3rem; color: #333; font-weight: 400; line-height: 2.6rem;}
.btn.btn_small:focus {border-color: #31aae6; color: #31aae6;}
.btn.btn_small:disabled,.btn.btn_small.disabled {border-color:#dddddd; background-color: #fff; color: #ddd; cursor: default;}
.btn.btn_default:disabled,.btn.btn_default.disabled,.btn.btn_white:disabled,.btn.btn_white.disabled {border-color: #dadada; background-color: #dadada; color: #666; cursor: default;}
.btn.btn_default:focus.disabled, .btn.btn_small:focus.disabled {outline: none;}
.btn.btn_txt {border: 0; font-size: 1.5rem; color: #111;}




/* SWITCH - no text */
.ui_switch {position: relative; display: inline-block; overflow: hidden; width: 50px; height: 32px;}
.ui_switch input[type="checkbox"] {position: absolute; left: 0;	top: 0;	z-index: 1; width: 40px; height: 22px; margin: 0; padding: 0; opacity: 0;}
.ui_switch .chk_ani {position: absolute; top: 50%; left: 5px; z-index: 1; margin-top: -7px; width: 40px; height: 14px; border-radius: 12px; background-color: #3e484b; -webkit-transition: background 0.25s ease-out 0s; transition: background 0.25s ease-out 0s;}
.ui_switch .chk_ani:before {content: ""; position: absolute; top: 50%; left: -1px; width: 22px; height: 22px; margin-top: -11px; border-radius: 11px; background-color: #fff;-webkit-transition: left 0.3s ease-out 0s; transition: left 0.3s ease-out 0s; z-index: 10; box-shadow: 0 2px 5px rgba(0,0,0,0.45);}
.ui_switch input[type="checkbox"]:checked+.chk_ani {background-color: #fcb814;}
.ui_switch input[type="checkbox"]:checked+.chk_ani:before {position: absolute; top: 50%; margin-top: -11px; left: 19px; width: 22px; height: 22px; border-radius: 11px; background-color: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.45);}
.ui_switch .chk_off,
.ui_switch .chk_on {position: relative; float: left ; -webkit-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; font-size: 0; line-height: 0;}

/* SWITCH - text */
.ui_switch.type_txt {position: relative; display: inline-block; overflow: hidden; width: 74px; height: 28px; border-radius: 15px; font-size: 1rem; line-height: 1.2; font-weight: 700; text-align: left;}
.ui_switch.type_txt input[type="checkbox"] {position: absolute; left: 0; top: 0; z-index: 2; width: 74px; height: 28px; margin: 0; padding: 0; opacity: 0;}
.ui_switch.type_txt .chk_ani {position: relative; top: auto; left: auto; width: 74px; height: 28px; margin-top: 0; background-color: #666; -webkit-transition: background 0.25s ease-out 0s; transition: background 0.25s ease-out 0s;}
.ui_switch.type_txt .chk_ani:before {content: ""; display: block; position: absolute; left: 4px; top: 4px;width: 20px; height: 20px; border-radius: 50%; margin-top: 0;background-color: #fff; -webkit-transition: left 0.3s ease-out 0s; transition: left 0.3s ease-out 0s; z-index: 10; box-shadow: none;}
.ui_switch.type_txt input[type="checkbox"]:checked+.chk_ani {background-color: #666;}
.ui_switch.type_txt input[type="checkbox"]:checked+.chk_ani:before {top: 4px; left: 50px; width: 20px; height: 20px; border-radius: 50%; margin-top: 0; background-color: #fff;  box-shadow: none;}
.ui_switch.type_txt .chk_off,
.ui_switch.type_txt .chk_on {float: left ; -webkit-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; font-weight: 700; font-size: 1rem; color: #fff; line-height: 2.2rem;}
.ui_switch.type_txt .chk_off {margin-left: 28px; opacity: 1; color:#fff; font-size: 1.3rem; line-height: 2.8rem;}
.ui_switch.type_txt .chk_on {display: none;	float: right; margin-right: 31px; opacity: 0; color:#fff; font-size: 1.3rem; line-height: 2.8rem;}
.ui_switch.type_txt input[type="checkbox"]:checked+.chk_ani .chk_off {display: none; opacity: 0;}
.ui_switch.type_txt input[type="checkbox"]:checked+.chk_ani .chk_on  {display: block; opacity: 1;}

/* TOP */
.footer_btn_area {position: fixed; right: 18px; bottom: -32px; z-index: 20; margin: 0; padding: 0; width: 32px; height: 32px; -webkit-transition: all .3s ease-out 0s; transition:all .3s ease-out 0s; -webkit-transform: translate3d(0,50px,0); transform:translate3d(0,50px,0);}
.footer_btn_area.on {bottom: 5px; -webkit-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
.btn_top {display: inline-block; width: 32px; height: 32px; background-color: #8aa3b1; background-image: url(../image/ico_top.png); background-repeat: no-repeat; background-position: 0 0; background-size: 32px auto; border-radius: 16px;}
.btn_top span {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}

/*달력(JQUERY UI) */
.ui-datepicker {box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.ui-datepicker .ui-datepicker-title, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family: "Roboto","Noto Sans","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic",sans-serif;}
.ui-datepicker.ui-widget.ui-widget-content {width: calc(100% - 36px); padding: 0; border: 0; border-radius: 10px;}
.ui-datepicker .ui-datepicker-header.ui-widget-header.ui-corner-all {border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.ui-datepicker .ui-datepicker-header.ui-widget-header {padding: 0;}
.ui-datepicker .ui-datepicker-title {margin: 10px 30px 9px; line-height: 1; font-size: 1.8rem; font-weight: 700; color: #fff; text-align: center;}    
.ui-datepicker .ui-datepicker-title select {width: auto; height: 25px; margin: 0 18px; padding: 0 18px 0 0; border: 0; background-image: url(../image/ico_selectbox_jq.png); background-position: right 0; background-size: 22px auto; background-color: transparent; font-size: 1.8rem; font-weight: 700; color: #fff; text-align: left; line-height: 2.3rem;}
.ui-datepicker .ui-datepicker-title select:first-child {margin-right: 8px;}
.ui-datepicker .ui-datepicker-title option {color: #111;}
.ui-datepicker-month {font-size: 1.8rem; color: #000; font-weight: 700;}
.ui-widget-header {border: 0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border: 0; background: #fff; font-size: 1.5rem; font-weight: normal; color: #000;}
.ui-widget-header .ui-icon {background-image: url(../image/sp_datepicker.png); background-size: 50px auto;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {margin-left: -10px; margin-top: -10px;}
.ui-datepicker td {padding: 2px;}
.ui-datepicker td span, .ui-datepicker td a {padding: 7.5px; line-height: 1; text-align: center;}
.ui-datepicker-prev.ui-datepicker-prev-hover,.ui-datepicker-next.ui-datepicker-next-hover {border: 0; background-color: transparent;}
.ui-icon.ui-icon-circle-triangle-w  {background-position: 0 0; width: 20px; height: 20px;}
.ui-icon.ui-icon-circle-triangle-e  {background-position: -25px 0; width: 20px; height: 20px;}
.ui-datepicker-calendar tr:first-child td {padding-top: 5px;}
.ui-widget-header {background-color: #31aae6;}
.ui-datepicker .ui-datepicker-next {right: 19px;}
.ui-datepicker .ui-datepicker-prev {left: 18px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position: absolute; top: 9px; width: 25px; height: 25px; text-align: center;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border: 0; background: #ededef; color: #000;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border: 0; background: #8aa3b1;font-weight: 400; color: #fff; text-align: center;}
.ui-datepicker-calendar thead th {padding: 4px 10px; background-color: #f1f1f1; border-bottom: 1px solid #ddd; font-weight: 700;}
.ui-datepicker-calendar .ui-state-default {text-align: center;}
.ui-datepicker-trigger {width: 25px; height: 23px; background-image: url(../image/ico_datepicker.png); background-position: 0 0; background-repeat: no-repeat; background-size: 23px auto; font-size: 0; line-height: 0;}
.ui-datepicker-year {color: #000;}
.f_group.datepicker input {padding-right: 38px;}
.f_group.datepicker .ui-datepicker-trigger {position: absolute; right: 0; top: 50%; margin-top: -12px;}

/* 카드선택 */
.card_selectbox {position: relative; width: 100%;}


/* 화살표 */
.arrow_up {position: relative; display: block; overflow: hidden; width: 24px; height: 12px; margin-bottom: -1px; margin-left: 8px;}
.arrow_up:before {position: absolute; left: 6px; top: 6px; display: block; content: ""; width: 12px; height: 12px; border: 1px solid #dedede; border-left-width: 0; border-bottom-width: 0; transform:rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform: rotate(-45deg); background-color: #ededef;}
.arrow_down {position: absolute; left: 50%; bottom: -7px; display: block; overflow: hidden; margin-left: -11px; width: 22px; height: 8px;}
.arrow_down:before {position: absolute; left: 6px; bottom: 5px; display: block; content: ""; width: 8px; height: 8px; border: 1px solid #dadada; border-right-width: 0; border-top-width: 0; transform:rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform: rotate(-45deg); background-color: #fff;}
.active .arrow_down {bottom: -6px;}
.active .arrow_down:before {border: 1px solid  #31aae6; background-color: #31aae6;}

/* 데이타 없을 경우 */
.nodata {display: table; width: 100%; padding: 60px 0; text-align: center;}
.nodata p {margin-top: 13px; font-weight: 700; text-align: center;}
.ic_nodata {display: inline-block;}
.ic_nodata:after {width:40px; height: 37px; background-position: -150px 0;}

/* 키워드 검색 - 키워드삭제 버튼 추가 */
.keyword_search {position: relative; margin: 0; padding: 0;}
.search_box {position: relative;}
.search_box .btn_del {position: absolute; top: 50%; right: 29px; width: 30px; height: 30px; margin-top: -15px;}
.search_box .f_group input {text-align: left; padding-right: 60px;}
.search_box .btn_search_pop, .addr_search .btn_search_pop, .search_box .btn_search_pop2 {position: absolute; right: -3px; top: 50%; margin-top: -15px;}
.search_box .btn_search_pop:after,.search_box .btn_search_pop2:after {margin-right: 0;}
.f_group.search_bar input {text-align: left; padding-right: 50px;}
.btn_search_pop, .btn_search_pop2 {display: inline-block; width: 30px; height: 30px; text-align: center;}
.btn_search_pop:after,.btn_search_pop2:after {width: 23px; height: 21px; background-position: -100px -25px;}
.btn_del {width: 31px; height: 31px; margin-top: -5px; background-image: none; vertical-align: top;}
.btn_del:after {width:21px; height: 21px; background-position: -125px -25px;}

/* 토글레이어 메뉴 */
.btn_toggle_c {display: inline-block; width: 28px; text-align: right; vertical-align: top;}
.btn_toggle_c:after {width: 28px; height: 28px; background-position: -50px -25px;}
.lyr_menu {display: none; position: absolute; right: 11px; top: 15px;; z-index: 9;}
.lyr_menu ul {display: inline-block; border: 1px solid #dbdbdb; border-radius: 2px; background-color: #f1f1f1;}
.lyr_menu li {position: relative; border-top: 1px solid #dbdbdb;}
.lyr_menu li:first-child {border-top: 0;}
.lyr_menu li button {display: inline-block; width: 100%; padding: 10px 25px 10px 9px; font-size: 1.3rem; font-weight: 700; color: #5a5a5a; text-align: left;}
.lyr_menu li button:hover {background-color: #fff; color: #000; font-weight: 700;}
.lyr_menu li.selected button {background-color: #fff; color: #000; font-weight: 700;}
.lyr_menu li.selected button:after {position: absolute; right: 10px; top: 50%; content: ""; display: inline-block; width: 10px; height: 7px; margin-top: -3.5px; background-color: #fff; background-image: url(../image/ico_selected.png); background-position: right 50%; background-repeat: no-repeat; background-size: 10px auto;}

/* subheader menu layer */
.layer_sbmenu {position: relative; display: table-cell; text-align: right; vertical-align: middle;}
.layer_sbmenu .sp_login.ic_toggle:after {position: absolute; left: 0; top: 0; width: 20px; height: 20px; background: url(../image/ico_eventmenu.png) 0 0 no-repeat; background-size: 20px auto;}
.layer_sbmenu .btn_toggle {position: relative; display: inline-block; margin-top: 5px; width: 20px; height: 20px;}
.layer_sbmenu .btn_toggle.active .sp_login.ic_toggle {background-position: -385px -55px;}
.layer_sbmenu .layer_toggle {display: none; position: absolute; top: 27px; right: 9px; z-index: 28; min-width: 120px;}
.layer_sbmenu .layer_toggle li {border-top: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; border-left: 1px solid #e2e2e2; background-color: #f1f1f1; text-align: left;}
.layer_sbmenu .layer_toggle li a {display: block; line-height: 3.8rem; padding-left: 10px; font-size: 1.6rem; color: #717171; font-weight: 700;}
.layer_sbmenu .layer_toggle li.now { border-top: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; border-left: 1px solid #e2e2e2; background: url(../image/ico_selected.png) 92% 14px no-repeat; background-size: 10px auto; background-color: #FFF;}
.layer_sbmenu .layer_toggle li.now a {display: block; line-height: 3.8rem; padding-left: 10px; font-size: 1.6rem; color: #000; font-weight: 700;}
.layer_sbmenu .layer_toggle li .btn_layer_close {display: none; color: transparent;}
.layer_sbmenu .layer_toggle li .btn_layer_close:focus {display: block; font-size: 1.4rem; color: #000; line-height: 3.8rem; height: 100px;}

